
.purple-card {
    width: 300px !important; /* Set a fixed width */
    height: 240px; /* Set a fixed height */
    background-color: #4B0082;
    color: rgb(255, 221, 0); /* Set text color to RGB(255, 221, 0) */
    box-shadow:blueviolet; /* Remove the default box shadow */
    border-radius: 6000; /* Remove the default border-radius */
    padding: 16px; /* Add padding to create a rectangular appearance */
    margin: 36px; /* Add margin to push the card away from the screen edges */
    font-family: "Wendy One", sans-serif;
    color: rgb(255, 221, 0) !important;

  }


  .rotate-icon .mat-icon {
    transform: rotate(90deg); /* Adjust the rotation angle as needed */
  }

  .custom-menu {
    background-color: yellow;
  }


  
