<div class="basic-container" fxLayout="row wrap" fxLayoutAlign="center start">
  <mat-card *ngFor="let movie of movies" class="purple-card">
    <div fxLayout="column" fxLayoutGap="8px">
      <div>
        <p>Title: {{ movie.title }}</p>
      </div>
      <div>
        <p>Year: {{ movie.year }}</p>
      </div>
      <div>
        <p *ngIf="movie.licensingType === 0">Licensing Type: Two days</p>
        <p *ngIf="movie.licensingType === 1">Licensing Type: Lifelong</p>
      </div>
      <div>
        <p>Price: {{ movie.price }}</p>
      </div>
      <div>
        <button mat-raised-button color="accent" class="mat-button-large" *ngIf="movie.licensingType === 0">Purchase</button>
        <button mat-raised-button color="accent" class="mat-button-large" *ngIf="movie.licensingType === 1">Rent</button>

        <!-- Mat Menu -->
        <button mat-icon-button [matMenuTriggerFor]="menu" class="rotate-icon mat-button-large">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu" class="mat-button-large custom-menu">
          <button routerLink="movies/create" (click)="createMovie()" mat-menu-item>Edit</button>
          <button mat-menu-item (click)="movie.id && deleteMovie(movie.id)">Delete</button>
        </mat-menu>
      </div>
    </div>
  </mat-card>
</div>